
/_ReSharper.MockDataBase
/MockDataBase.sln.DotSettings.user
/MockDataBase.v11.suo
/packages/NUnit.3.5.0
/MockDataBase/bin
/MockDataBase/obj
/MockDataBase/MockDataBase.csproj.user
/MockDataBase.Tests/bin
/MockDataBase.Tests/obj